apiVersion: v1
kind: Service
metadata:
  name: airbyte-server-svc
spec:
  type: ClusterIP
  ports:
  - name: server-svc
    protocol: TCP
    port: 8001
    targetPort: 8001
  selector:
    airbyte: server
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: airbyte-server
spec:
  replicas: 1
  selector:
    matchLabels:
      airbyte: server
  template:
    metadata:
      labels:
        airbyte: server
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: airbyte-server-container
          image: "{{ .Values.server.image.repository }}:{{ .Values.server.image.tag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          env:
            - name: AIRBYTE_VERSION
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: AIRBYTE_VERSION
            - name: RUN_DATABASE_MIGRATION_ON_STARTUP
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: RUN_DATABASE_MIGRATION_ON_STARTUP
            - name: VERSION_0_32_0_FORCE_UPGRADE
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: VERSION_0_32_0_FORCE_UPGRADE
            - name: WORKER_POD_TOLERATIONS
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: WORKER_POD_TOLERATIONS
            - name: WORKER_POD_NODE_SELECTORS
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: WORKER_POD_NODE_SELECTORS
            # - name: JOBS_IMAGE_PULL_SECRET
            #   valueFrom:
            #     configMapKeyRef:
            #       name: airbyte-env
            #       key: JOBS_IMAGE_PULL_SECRET
            - name: CONFIG_ROOT
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: CONFIG_ROOT
            - name: DATABASE_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: DATABASE_PASSWORD
            - name: DATABASE_URL
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: DATABASE_URL
            - name: DATABASE_USER
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: DATABASE_USER
            - name: TRACKING_STRATEGY
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: TRACKING_STRATEGY
            - name: WORKER_ENVIRONMENT
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: WORKER_ENVIRONMENT
            - name: WORKSPACE_ROOT
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: WORKSPACE_ROOT
            - name: WEBAPP_URL
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: WEBAPP_URL
            - name: TEMPORAL_HOST
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: TEMPORAL_HOST
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: LOG_LEVEL
            - name: RESOURCE_CPU_REQUEST
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: RESOURCE_CPU_REQUEST
            - name: RESOURCE_CPU_LIMIT
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: RESOURCE_CPU_LIMIT
            - name: RESOURCE_MEMORY_REQUEST
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: RESOURCE_MEMORY_REQUEST
            - name: RESOURCE_MEMORY_LIMIT
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: RESOURCE_MEMORY_LIMIT
            - name: S3_LOG_BUCKET
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: S3_LOG_BUCKET
            - name: S3_LOG_BUCKET_REGION
              value:
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: AWS_SECRET_ACCESS_KEY
            - name: S3_MINIO_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: S3_MINIO_ENDPOINT
            - name: S3_PATH_STYLE_ACCESS
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: S3_PATH_STYLE_ACCESS
            # - name: GOOGLE_APPLICATION_CREDENTIALS
            #   valueFrom:
            #     configMapKeyRef:
            #       name: airbyte-env
            #       key: GOOGLE_APPLICATION_CREDENTIALS
            # - name: GCP_STORAGE_BUCKET
            #   valueFrom:
            #     configMapKeyRef:
            #       name: airbyte-env
            #       key: GCP_STORAGE_BUCKET
            - name: BLOTOUT_BASE_URL
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: BLOTOUT_BASE_URL
            - name: BLOTOUT_AUTH_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: airbyte-env
                  key: BLOTOUT_AUTH_ENDPOINT
          ports:
            - containerPort: 8001
          volumeMounts:
            - name: airbyte-volume-configs
              mountPath: /configs
            - name: gcs-log-creds-volume
              mountPath: /secrets/gcs-log-creds
              readOnly: true
      volumes:
        - name: airbyte-volume-configs
          persistentVolumeClaim:
            claimName: airbyte-volume-configs
        - name: gcs-log-creds-volume
          secret:
            secretName: gcs-log-creds
