name: release
on: 
  push:
    branches:
      - main
    paths:
      - 'helm/**'
  release:
    types: [published, created]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Publish Helm charts
        uses: stefanprodan/helm-gh-pages@v1.4.1
        with:
          token: ${{ secrets.BO_CHARTS_HELM_TOKEN }}
          charts_dir: helm
